

.secciones{
    display: flex;
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid black;
}

*{
    margin: 0;
    padding: 0;
    background-color: red;
}

@font-face {
    font-family: 'newnormal';
    src: url('../fonts/TimesNewNormalRegular.ttf');
}

body{
    font-family: 'newnormal';
}

.header__h1{
    text-align: center;
    padding: 1rem;
}
.dago{
    display: flex;
    flex-wrap: wrap;
}

.dago__article1{
    width: 50%;  
}
.dago__article2{
    width: 50%;
}
.article1{
    background-color: rgb(76 78 172);
}
.article2{
    background-color: rgb(80 82 181);
}

.fa-brands{
    padding: 1rem;  
}
.fa-square-js{
    color: rgb(227, 224, 24);
}
.fa-html5{
    color: rgb(229, 76, 33);
}
.fa-css3{
    color: rgb(38, 77, 228);
}
.fa-php{
    color: rgb(138, 147, 190);
}


.dago__titulo{
    padding: 1rem;
    color: rgb(205, 205, 203);
    letter-spacing: 1px;
}

.dago__parrafo{
    padding: 1rem;
    color: rgb(205, 205, 203);
    letter-spacing: 1px;
}
.btn{
    padding: 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
    font-family: 'newnormal';
    border-radius: 25px 25px;
    width: 120px;
    background-color: rgb(76 78 172);
    color: rgb(205, 205, 203);
}
.cambiarColorTitulo{
    color: rgb(123, 82, 162);
.carlos{
    height: 770px;
    width: 770px;
    background-color: blue;
    border: solid black;
    border-radius: 50%;

.t{
    width: 200px;
    height: 200px;
    background-color: black;
}
.tt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 160px;
    left: 55px;
}
.ttt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 197px;
    left: 102px;
}