
*{
    background-color: red;
}
.carlos{
    height: 770px;
    width: 770px;
    background-color: blue;
    border: solid black;
    border-radius: 50%;

.t{
    width: 200px;
    height: 200px;
    background-color: black;
}
.tt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 160px;
    left: 55px;
}
.ttt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 197px;
    left: 102px;

}