.t{
    width: 200px;
    height: 200px;
    background-color: black;
}
.tt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 160px;
    left: 55px;
}
.ttt{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 197px;
    left: 102px;
}